<h1>New Employee</h1>

<%= form_for(@employee) do |form| %>
  <%= form.label :name , "Name:" %>
  <%= form.text_field :name %><br/><br/>

  <%= form.label :gender , "Gender:" %>
  <%= form.radio_button :gender, "Male" %>
  <%= form.label :gender_male, "Male" %>
  <%= form.radio_button :gender, "Female" %>
  <%= form.label :gender_female, "Female" %><br/><br/>

  <%= form.label :address , "Address:" %>
  <%= form.text_area :address %><br/><br/>

  <%= form.label :department_id , "Department:" %>
  <%= form.collection_select :department_id, Department.all, :id, :name %><br/><br/>

  <%= form.check_box :accept_terms %>
  <%= form.label :accept_terms, "Accept Terms & Conditions" %><br/><br/>

  <%= form.submit %>
<% end %> 

<% if flash[:alert].present? %>
  <div class="text-red">
    <h4>Oops! Something went wrong:</h4>
    <ul>
      <% flash[:alert].each do |error| %>
        <li><%= error %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<%= link_to "Back to Employees", employees_path %>
